<div>
  <label for="new-cocktail">Cocktail name: </label>
  <input id="new-cocktail" #cocktailName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(cocktailName.value); cocktailName.value=''">
    Add cocktail
  </button>
</div>

<table class="cocktail-table">
  <thead>
  <tr>
    <th scope="col"> Recipe ID</th>
    <th scope="col"> Cocktail</th>
    <th scope="col"> Description</th>
    <th scope="col">Creator</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of cocktailInfo; index as i">
    <td>
      {{recipeName}}
    </td>
    <td>p.description</td>
    <td>p.creator</td>
  </tr>
  </tbody>

</table>
